html, body, div, span, applet, object, iframe,
 p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend
{
	margin: 2;
	border: 2;
	outline: 2;
                 cellspacing=25;
font-size: 105%;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-spacing: 0;
}

/* Reset for HTML 5 Elements
----------------------------------------------------------------------------------------------------*/

/* tells browsers that don't read html 5 tags to render like divs */
header, footer, aside, nav, article, section {
	display: block;
	margin: 0;
	padding: 0;
}

/* clears containers with floated elements, no need for extra markup! */
.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Type
----------------------------------------------------------------------------------------------------*/

html {
	font-size: 16px;
}

body {
	color: black;
	font: Segoe UI;
}
p {
	color: #00663d;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	text-align: justify;
}

ul {
	list-style: disc;
	color: #FFF;
	font-size: 1.0em;
	font-weight: normal;
	line-height: 1.3em;
}

ol, ol.lowerRoman, ol.upperAlpha {
	list-style: decimal;
	color: #FFF;
	font-size: 1.0em;
	font-weight: normal;
	line-height: 1.3em;
}

ol.lowerRoman {
	list-style: lower-roman;
}

ol.upperAlpha {
	list-style: upper-alpha;
}

strong, b, .b {
	color: #FFF !important;
	font-weight: bold;
}

a {
	color: #009245;
	text-decoration: none;
}

/*a:link {
	color: #FFFFFF;
	outline: none;
	text-decoration: none;
}

a:visited {
	color: #FFFFFF;
	outline: none;
	text-decoration: none;
}*/

a:hover {
	color: #22b573;
	text-decoration: underline;
}

a:active {
	color: #FFF;
	outline: none;
	text-decoration: none;
}

a:focus {
	outline: 1px dotted;
}

.more {
	text-decoration: underline !important;
}

/* Spacing
----------------------------------------------------------------------------------------------------*/



h1, h2, h3, h4, h5, h6 {
	padding-bottom: 3px !important;
}

hr {
	border: 0 #ccc solid;
	border-top-width: 1px;
	clear: both;
	height: 0;
}

p {
	margin-right: 10px;
	padding: 5px 0;
}

blockquote {
	margin-right: 10px;
	padding: 5px 0 20px 0;
}

ul, ol {
	margin-left: 25px;
	padding-left: 0;
}

li {
	margin-bottom: 15px;
	margin-left: 15px;
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
	margin-bottom: 25px;
}

/* Layout
----------------------------------------------------------------------------------------------------*/

html {
    background: url(../images/background.png) repeat;
    background-color: #32423E;
	text-align: center;
}

body {
	background:  none;
	margin-bottom: 20px;
	width: 960px;
	margin: 0 auto;
	border: none;
}

#logoTxt {
	
    background-repeat: no-repeat;
    background-position:left;
	width: 100%; /*381px;*/
	height: 165px;
	border: none;
    margin-bottom: 20px;
    
}

#logoTxt h1, #logoTxt h2 {
	color: #fff;
	font-size: 3em;
	line-height: 1.5em;
	text-align: center;
}

#logoTxt h2 {
	color: #fff;
}

#logoTxt h1 span, #logoTxt h2 span {
	display: block;
	top: 0px;
    right: 0;
	width: 124px;
	z-index: 9;
}

#logoTxt h2 span {
	top: 0 !important;
	z-index: 10 !important;
}


header h1 {
	color: #FFF;
	font-size: 1.6em;
	text-align: center;
	border: none;
    
}

header h1 span {
	color: #FFF;
	float: right;
	padding-right: 5px;
    padding-top:0px;
	width: 300px;
	border: none;
}

#headTxt {
	color: #FFF !important;
	font-size: 4em;
	line-height: 0.3em;
	text-transform: capitalize;
	width: auto !important;
}

nav ul {
	background: url(../images/nav_bar.png) no-repeat;
    list-style: none;
	width: 980px;
	height: 30px;
	margin: 0;
	text-align: left;
	border: none;
    
}

nav ul li {
	display: inline-block;
	margin:0px 1px 0px 0px;
    padding: 0px 0 0px 0;
	border: none;
       
}

nav ul li a {
    display:inline-block;
    color: #8cc63f;
	background: url(../images/button_reg.png);
    font-size: 1em;
	font-weight: bold;
    text-align:center;
	letter-spacing: 0.1em;
	padding: 8px 6px 0px 6px;
	text-transform: uppercase;
    width:125px;
    height:22px;
    
}

nav ul li a:hover {
	color: #006837;
	text-decoration: none;
    background: url(../images/button_hov.png);
    }

nav ul li a.selected {
		color: #fbb03b;
        background: url(../images/button_sel.png);
}

nav ul li a.selected:hover {
	color: #cce7dc;
    
}

section center {
   
   margin: 0 0px;
    
}

#mainRight, #mainRight2 {

    
    margin-top: 0px;
	width: 1028px;
	text-align: left;
}

/*#mainRight h2 {
	margin-bottom: 0px;
	border: none;
}

#mainRight2 {
	width: 960px !important;
}*/

.columns {
    background: #d4eded;
	display: block;
    width: 940px;
    text-align:center;
    padding-bottom:40px;
}

.columns center p {
    text-align:center;
 }
 
.colLeft {
	float: left;
	width: 435px;
	border: none;
    padding-left:30px;
    
    
}

.colRight {
	float: right;
	width: 435px;
    padding-right:20px;
    
   
}

.col_wide {
	float: left;
	width: 630px;
	border: none;
    margin: 30px 0px 20px 30px;
}

.col_thin {
	float: right;
	width: 250px;
    border-left: 2px; 
    border-color: rgba(186,186,186,0.3);
    border-style: groove;
    padding-left: 20px;
    margin: 20px 0px 20px 10px;
}


#signature {
	margin-bottom: 5px;
    margin-right: 10px;
	text-align: right;
}

footer {
	clear: both;
	background: url(../images/foot_bkgd.png) no-repeat;
    padding-top: 10px;
    height: 190px;
    width:1028px;
    border: none;
    left:-44px;
    position:relative;
}

footer p {
    float:left;
    margin-top:30px;
    padding-left:40px;
 	font-size: 1em;
    color: #00663D;
	border: none;
}

footer ul {
	float: center;
	list-style: none;
	width: 330px;
	padding-top: 2px;
	text-align: center;
    margin-right: 20px;
	border: none;
}

footer ul li {
	display: inline;
	margin: 0 5px;
	border: none;
}

footer ul li a {
	font-size: 0.9em;
    color: #FFFFFF;
}

footer ul li a:hover {
	color: #FFF;
}

